/* ---- General ---- */
/* Close Button */
.buttons-controls-pc-default--active-true {
  border-width: 0px;
}

/* ---- Tactics ---- */
/* Undo Button */
.buttons-combo-button-base-regular {
  border-width: 0px;
  background-color: var(--colours-alpha-light-alpha-14);
}
/* Select Tactic Button/Dropdown */
.buttons-hero-toggle-small--dropdown--border-radius-none {
  border-width: 0px;
}
.buttons-hero-toggle-small--dropdown--border-radius-right {
  border-width: 0px;
}
/* Pitch Header Segmented Buttons */
.tactics-collapsable-pitch-header-button-group .buttongroup__button {
  border-width: 0px;
  background-color: var(--colours-alpha-light-alpha-14);
}
/* Picked Position Button */
.buttons-button-tactics-picked-position {
  border-width: 0px;
}
.buttons-button-tactics-picked-position-zero-left-space {
  border-width: 0px;
}
.buttons-button-tactics-picked-position:hover {
  background-color: var(--colours-alpha-light-alpha-14);
}
/* Subs Block Cell */
.tactics-subs-block-cell {
  border-width: 0px;
}
/* Hybrid Split Button - Left */
.buttons-hybrid-split-button-left {
  border-right-width: 0px;
}
/* Hybrid Split Button - Right */
.buttons-hybrid-split-button-right {
  border-left-width: 0px;
  background-color: var(--colours-alpha-light-alpha-8);
}
/* Hybrid Split Button - Hover */
.buttons-hybrid-split-button-left:hover,
.buttons-hybrid-split-button-right:hover {
  border-color: var(--colours-alpha-light-alpha-20);
}
/* Hybrid Split Button - Active */
.buttons-hybrid-split-button-left:active,
.buttons-hybrid-split-button-right:active {
  border-color: var(--colours-alpha-light-alpha-20);
}

/* ---- Player Report ---- */
/* Single Toggle Button - Compare/Polygon Toggle */
.buttons-button-single-toggle-default--toggle-false {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-14);
  border-radius: 4px;
}
.buttons-button-single-toggle-default--toggle-false:checked,
.buttons-button-single-toggle-default--toggle-true {
  border-width: 1px;
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-14);
  border-radius: 4px;
}

/* ---- Squad Screen ---- */
/* Position Selector */
.tactic-position-overview-widget-item {
  border-width: 0px;
}
/* Quick Pick Button */
.team_card_quick_pick_button {
  border-width: 0px;
}
.team_card_quick_pick_dropdown .si-dropdown__selection-field {
  border-width: 0px;
}
/* Tactics Button */
.buttons-button-primary-tactics {
  background-color: var(--colours-alpha-light-alpha-14);
  border-color: var(--none);
}
.buttons-button-primary-tactics:hover,
.buttons-button-primary-tactics:active {
  background-color: var(--colours-alpha-light-alpha-20);
}

/* ---- Menu/Dropdowns ---- */
/* Base - Floating Element */
.floating-element {
  border-radius: 8px;
  border-color: var(--colours-alpha-light-alpha-8);
}
/* Divider - Cascading Menu */
.cascading-menu__folder__separator {
  border-top-width: 1px;
  border-top-color: var(--colours-alpha-light-alpha-8);
}
/* Divider - List */
.list-layout-divider-solid-horizontal {
  border-top-width: 1px;
  border-top-color: var(--colours-alpha-light-alpha-8);
}
/* Divider - Spacer Above */
.show-spacer-above {
  border-top-width: 1px;
  border-top-color: var(--colours-alpha-light-alpha-8);
}
/* Hover - Dropdown */
.si-dropdown .virtualised-list__item:hover,
.si-dropdown .virtualised-list__item.visual-highlighted,
.si-dropdown .virtualised-list__item--odd:hover,
.cascading-menu__folder__entry:hover.virtualised-list__item:hover,
.cascading-menu__folder__entry.visual-highlighted,
.cascading-menu__folder__entry.virtualised-list__item--odd:hover {
  background-color: var(--colours-alpha-light-alpha-8);
}
/* Panel - Bookmark Edit */
.bookmark-edit-panel {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
}

/* ---- Navigation Tabs ---- */
/* Portal Messages - Read */
.portal-messages-item-message-text-read {
  font-size: 14px;
}
/* Navigation Tabs - Small */
.navigation-tab-small-default--active-false .navigation-tab-small-default-text {
  font-size: 12px;
}
.navigation-tab-small-default--active-true .navigation-tab-small-default-text {
  font-size: 12px;
}
/* Navigation Tabs - Default */
.navigation-tab-default-default--active-false
  .navigation-tab-default-default-text {
  font-size: 14px;
}
.navigation-tab-default-default--active-true
  .navigation-tab-default-default-text {
  font-size: 14px;
}
/* Tab Border */
.buttongroup.Default .buttongroup__button--active {
  border-bottom-width: 2px;
  border-bottom-color: var(--colours-brand-foundation-horizon);
}

/* ---- Radio Buttons ---- */
/* Selected */
.radio-toggle .unity-toggle__input:checked:enabled .unity-toggle__checkmark {
  border-color: var(--colours-brand-foundation-horizon);
}
/* Hover */
.radio-toggle:hover:enabled
  .unity-toggle__input:checked:enabled
  .unity-toggle__checkmark,
.radio-toggle:focus:enabled
  .unity-toggle__input:checked:enabled
  .unity-toggle__checkmark {
  border-color: var(--colours-brand-foundation-horizon);
}

/* ---- Toggle Switches ---- */
/* Default */
.inputs-switch-toggle-default-switch-false {
  border-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-default-switch-false .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
  -unity-background-image-tint-color: var(--colours-alpha-light-alpha-85);
}
.inputs-switch-toggle-default-switch-false .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-default-switch-false .unity-toggle__input:checked {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-default-switch-false:active:enabled .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-default-switch-false:checked:active:enabled
  .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
}
.inputs-switch-toggle-default-switch-false:checked:hover .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-default-switch-false:focus:enabled
  .unity-toggle__input:checked:focus:enabled
  .unity-toggle__checkmark,
.inputs-switch-toggle-default-switch-false:checked
  .unity-toggle__input:checked:enabled
  .unity-toggle__checkmark,
.inputs-switch-toggle-default-switch-false:hover
  .unity-toggle__input:hover:enabled
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
}
.inputs-switch-toggle-default-switch-false:focus:enabled
  .unity-toggle__input:focus:enabled
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-default-switch-false:hover .unity-toggle__input,
.inputs-switch-toggle-large-default-switch-true--type-default:hover
  .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-default-switch-false:hover
  .unity-toggle__input:hover:enabled
  .unity-toggle__checkmark,
.inputs-switch-toggle-large-default-switch-true--type-default:hover
  .unity-toggle__input:hover:enabled
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
  -unity-background-image-tint-color: var(--colours-alpha-light-alpha-85);
}
/* Table */
.inputs-switch-toggle-default-switch-table .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
  -unity-background-image-tint-color: var(--colours-alpha-light-alpha-85);
}
.inputs-switch-toggle-default-switch-table .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-default-switch-table:active .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-default-switch-table:checked .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
}
.inputs-switch-toggle-default-switch-table:checked .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-default-switch-table:checked:active .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
}
.inputs-switch-toggle-default-switch-table:checked:hover .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-default-switch-table:hover .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
}
/* Large */
.inputs-switch-toggle-large-default-switch-true--type-default {
  background-color: var(--none);
}
.inputs-switch-toggle-large-default-switch-true--type-default
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
  -unity-background-image-tint-color: var(--colours-alpha-light-alpha-85);
}
.inputs-switch-toggle-large-default-switch-true--type-default
  .unity-toggle__input,
.inputs-switch-toggle-large-default-switch-true--type-on-warning
  .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-large-default-switch-true--type-default:active:enabled
  .unity-toggle__input,
.inputs-switch-toggle-large-default-switch-true--type-on-warning:active:enabled
  .unity-toggle__input {
  border-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-12);
}
.inputs-switch-toggle-large-default-switch-true--type-default:checked
  .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-large-default-switch-true--type-default:checked
  .unity-toggle__input:checked
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
  -unity-background-image-tint-color: var(--colours-alpha-light-alpha-85);
}
.inputs-switch-toggle-large-default-switch-true--type-default:checked:active:enabled
  .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
}
.inputs-switch-toggle-large-default-switch-true--type-default:checked:hover
  .unity-toggle__input {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-20);
}
.inputs-switch-toggle-large-default-switch-true--type-default:checked:hover
  .unity-toggle__input:checked:hover:enabled
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
  -unity-background-image-tint-color: var(--colours-alpha-light-alpha-85);
}
.inputs-switch-toggle-large-default-switch-true--type-default:focus:enabled
  .unity-toggle__input:checked:focus:enabled
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-35);
}
.inputs-switch-toggle-large-default-switch-true--type-default:focus:enabled
  .unity-toggle__input:focus:enabled
  .unity-toggle__checkmark {
  border-color: var(--none);
  background-color: var(--colours-alpha-light-alpha-12);
}

/* ---- Checkboxes ---- */
.inputs-switch-checkbox-default-switch-false--icon-none,
.expand-content-checkbox-default-switch-false--icon-none {
  border-color: var(--colours-alpha-light-alpha-12);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.inputs-switch-checkbox-default-switch-false--icon-none:disabled {
  border-top-color: var(--colours-alpha-light-alpha-8);
  border-right-color: var(--colours-alpha-light-alpha-8);
  border-bottom-color: var(--colours-alpha-light-alpha-8);
  border-left-color: var(--colours-alpha-light-alpha-8);
}
.streamed-table__checkbox {
  border-color: var(--colours-alpha-light-alpha-12);
  border-radius: 4px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.streamed-table__checkbox .unity-toggle__checkmark,
.inputs-switch-checkbox-default-switch-false--icon-none
  .unity-toggle__checkmark,
.expand-content-checkbox-default-switch-false--icon-none.unity-toggle__checkmark {
  width: 13px;
  height: 13px;
}
.streamed-table__checkbox .unity-toggle__input,
.inputs-switch-checkbox-default-switch-false--icon-none .unity-toggle__input {
  width: 13px;
  height: 13px;
}
.streamed-table__checkbox:checked:enabled .unity-toggle__checkmark,
.inputs-switch-checkbox-default-switch-false--icon-none:checked:enabled
  .unity-toggle__checkmark {
  background-color: #7a8793;
}
.sicheckbox .unity-toggle__input:checked .unity-toggle__checkmark,
.sicheckbox .unity-toggle__input:checked:hover .unity-toggle__checkmark {
  background-color: #7a8793;
}

/* Inputs Combobox - Default Size */
.inputs-combobox-default-default-base .si-dropdown__selection-field,
.tifo-dropdown .si-dropdown__selection-field {
  border-width: 0px;
}
.inputs-combobox-default-default-base .si-dropdown__selection-field:active {
  border-width: 0px;
}
.inputs-combobox-default-default-base .si-dropdown__selection-field:disabled {
  border-width: 0px;
}
.inputs-combobox-default-default-base .si-dropdown__selection-field:hover {
  border-width: 0px;
}

/* Buttons Dropdown - Regular Size */
.buttons-dropdown-base-regular .si-dropdown__selection-field {
  border-width: 0px;
}
.buttons-dropdown-base-regular .si-dropdown__selection-field:active {
  border-width: 0px;
}
.buttons-dropdown-base-regular .si-dropdown__selection-field:disabled {
  border-width: 0px;
}
.buttons-dropdown-base-regular .si-dropdown__selection-field:hover {
  border-width: 0px;
}

/* Buttons Dropdown - Small Size */
.buttons-dropdown-base-small .si-dropdown__selection-field {
  border-width: 0px;
}
.buttons-dropdown-base-small .si-dropdown__selection-field:active {
  border-width: 0px;
}
.buttons-dropdown-base-small .si-dropdown__selection-field:disabled {
  border-width: 0px;
}
.buttons-dropdown-base-small .si-dropdown__selection-field:hover {
  border-width: 0px;
}

/* Buttons Combo Button - Default Size */
.buttons-combo-button-base-default {
  border-width: 0px;
}

/* Vertical Radio Group */
.vertical-radio-group .unity-radio-button__checkmark {
  border-top-color: var(--colours-alpha-light-alpha-85);
  border-right-color: var(--colours-alpha-light-alpha-85);
  border-bottom-color: var(--colours-alpha-light-alpha-85);
  border-left-color: var(--colours-alpha-light-alpha-85);
  background-color: var(--colours-alpha-light-alpha-85);
}
.vertical-radio-group .unity-radio-button__checkmark-background {
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: var(--colours-alpha-light-alpha-12);
  border-right-color: var(--colours-alpha-light-alpha-12);
  border-bottom-color: var(--colours-alpha-light-alpha-12);
  border-left-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-transparent-0);
}
.vertical-radio-group .unity-radio-button__input {
  align-items: flex-start;
  align-self: center;
  cursor: var(--cursor-clickable-1x-url);
}
.vertical-radio-group:active:enabled
  .unity-radio-button__input:hover:enabled
  .unity-radio-button__checkmark-background {
  border-top-color: var(--colours-alpha-light-alpha-12);
  border-right-color: var(--colours-alpha-light-alpha-12);
  border-bottom-color: var(--colours-alpha-light-alpha-12);
  border-left-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--core-controls-surface-pc-pressed);
}
.vertical-radio-group:hover
  .unity-radio-button__input:hover:enabled
  .unity-radio-button__checkmark-background {
  border-top-color: var(--colours-alpha-light-alpha-12);
  border-right-color: var(--colours-alpha-light-alpha-12);
  border-bottom-color: var(--colours-alpha-light-alpha-12);
  border-left-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--core-controls-surface-pc-hover);
}
/* Hybrid Toggle - Inactive */
.input-hybrid-toggle-default-active-false--type-inactive {
  border-color: var(--colours-alpha-light-alpha-8);
}
