/* ---- Buttons ---- */
/* Base */
/* TODO: Pseudo States */
/** NOTE: Better to leave as an alpha colour, since it overlays a lot of colours in the UI. */
.buttons-button-base-default,
.messages-action-dropdown .si-dropdown__selection-field {
  border-radius: 16px;
  border-width: 0px;
  background-color: #d9e8ed40;
}
/* Primary */
/* TODO: Pseudo States */
.buttons-button-primary-default,
.messages-action-dropdown-primary .si-dropdown__selection-field {
  border-radius: 16px;
  border-width: 0px;
  background-color: #d9e8ed40;
}
/* Secondary */
/* TODO: Pseudo States */
.buttons-button-secondary-default,
.buttons-dropdown-secondary-default .si-dropdown__selection-field {
  border-color: var(--none);
  border-width: 0px;
  border-radius: 16px;
  background-color: #d9e8ed40;
}

/* ---- Segmented / Button Group ---- */
/* Selected/Active */
.buttongroup.SegmentedButtonRow .buttongroup__button--active {
  border-color: var(--none);
  background-color: #333b44;
}
.buttongroup.SegmentedButtonRow .buttongroup__button--active:hover {
  background-color: #4c5a67;
}
/* Default */
.buttongroup.SegmentedButtonRow .buttongroup__button {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttongroup.SegmentedButtonRow .buttongroup__button:hover {
  background-color: #333b44;
}

.buttons-segmented-button-row-active-default-placement-leading {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-default-placement-leading:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-default-placement-middle {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-default-placement-middle:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-default-placement-trailing {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-default-placement-trailing:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-large-placement-leading {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-large-placement-leading:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-large-placement-middle {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-large-placement-middle:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-large-placement-trailing {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-large-placement-trailing:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-past-selected-placement-leading {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-past-selected-placement-middle {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-past-selected-placement-trailing {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-regular-placement-leading {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-regular-placement-leading:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-regular-placement-middle {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-regular-placement-middle:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-regular-placement-trailing {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-regular-placement-trailing:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-small-placement-leading {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-small-placement-leading:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-small-placement-middle {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-small-placement-middle:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
.buttons-segmented-button-row-active-small-placement-trailing {
  border-color: var(--none);
  background-color: #333b44;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-active-small-placement-trailing:hover {
  border-color: var(--none);
  background-color: #4c5a67;
}
/* Inactive */
.buttons-segmented-button-row-inactive-large-placement-leading {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-large-placement-leading:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-large-placement-middle {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-large-placement-middle:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-large-placement-trailing {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-large-placement-trailing:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-regular-placement-leading {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-regular-placement-leading:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-regular-placement-middle {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-regular-placement-middle:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-regular-placement-trailing {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-regular-placement-trailing:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-small-placement-leading {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-small-placement-leading:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-small-placement-middle {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-small-placement-middle:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-inactive-small-placement-trailing {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-inactive-small-placement-trailing:hover {
  border-color: var(--none);
  background-color: #333b44;
}
.buttons-segmented-button-row-regular-placement-leading {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.buttons-segmented-button-row-regular-placement-trailing {
  border-width: 0px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
/* .buttons-segmented-button-row-regular-placement-trailing:hover,
.buttons-segmented-button-row-regular-placement-leading:hover,
.frame-enabled-content-responsibility-resolution-high:hover,
.frame-enabled-content-responsibility-resolution-low:hover,
.frame-enabled-content-staff-resolution-low:hover {
  background-color: var(--buttons-toggle-active-base-hover);
}
.buttons-segmented-button-row-regular-selected,
.radio_group_button_purple .unity-radio-button-group__child-active,
.segmented-button-active,
.segmented-button-group .unity-radio-button-group__child-active,
.segmented-button-group-purple .unity-radio-button-group__child-active,
.settings_highlights_block .unity-radio-button-group__child-active,
.tabgroup__tab-settings--active .navigation-tab-settings {
  border-color: var(--buttons-toggle-active-primary-border);
  background-color: var(--buttons-toggle-active-primary-surface);
} */

/* Single Toggle Button */
.buttons-button-single-toggle-default--toggle-false {
  border-width: 1px;
  border-color: #1c252f;
  border-radius: 4px;
}
.buttons-button-single-toggle-default--toggle-false:checked,
.buttons-button-single-toggle-default--toggle-true {
  border-width: 1px;
  border-color: #333b44;
  border-radius: 4px;
  background-color: #333b44;
}

/* ---- Tactic Button (Squad) ---- */
.buttons-button-primary-tactics {
  border-width: 0px;
  border-radius: 16px;
  background-color: #1c252f;
}
.buttons-button-primary-tactics:hover,
.buttons-button-primary-tactics:active {
  background-color: #333b44;
}

/* ---- Quick Pick Button ---- */
/* ! Border radius not currently working */
.team_card_quick_pick_button {
  border-width: 0px;
  /* border-top-left-radius: 16px; */
  /* border-bottom-left-radius: 16px; */
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
.team_card_quick_pick_dropdown .si-dropdown__selection-field {
  border-width: 0px;
  /* border-top-right-radius: 16px; */
  /* border-bottom-right-radius: 16px; */
  background-color: #1c252f;
  transition: var(--global-transition-short);
}

/* ---- Dropdown ---- */
/* Base */
.buttons-dropdown-base-regular .si-dropdown__selection-field {
  border-width: 0px;
  border-radius: 16px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
/* Active */
.buttons-dropdown-base-regular .si-dropdown__selection-field:active {
  border-width: 0px;
  background-color: #333b44;
}
/* Hover */
.buttons-dropdown-base-regular .si-dropdown__selection-field:hover {
  border-width: 0px;
  background-color: #333b44;
}
/* Disabled */
.buttons-dropdown-base-regular .si-dropdown__selection-field:disabled {
  border-width: 0px;
  background-color: #121a24;
}

/* ---- Dropdown with Icon ---- */
/* Base */
.buttons-dropdown-icon-base-default .si-dropdown__selection-field {
  border-width: 0px;
  border-radius: 16px;
  background-color: #1c252f;
  transition: var(--global-transition-short);
}
/* Hover/Active */
.buttons-dropdown-icon-base-default .si-dropdown__selection-field:hover,
.buttons-dropdown-icon-base-default .si-dropdown__selection-field:active {
  background-color: #333b44;
}
/* Disabled */
.buttons-dropdown-icon-base-default .si-dropdown__selection-field:disabled {
  background-color: #121a24;
}

/* ---- Squad Position Selector ---- */
/* Base */
.tactic-position-overview-widget-item {
  border-width: 0px;
  border-radius: 8px;
}
/* Unfilled */
.tactic-position-overview-widget-item__unfilled {
  background-color: #1c252f;
}
/* Filled */
.tactic-position-overview-widget-item__first-team .tactic-position-overview-widget-item__filled {
  background-color: #6dd362;
}
/* Sub */
.tactic-position-overview-widget-item__sub .tactic-position-overview-widget-item__filled {
  background-color: #333b44;
}

/* ---- Checkbox ---- */
/* Base */
.streamed-table__checkbox {
  border-color: var(--none);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.inputs-switch-checkbox-default-switch-false--icon-none,
.expand-content-checkbox-default-switch-false--icon-none {
  border-color: var(--none);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.streamed-table__checkbox .unity-toggle__checkmark,
.inputs-switch-checkbox-default-switch-false--icon-none .unity-toggle__checkmark,
.expand-content-checkbox-default-switch-false--icon-none .unity-toggle__checkmark {
  background-color: #121a24;
}
.streamed-table__checkbox .unity-toggle__input,
.inputs-switch-checkbox-default-switch-false--icon-none .unity-toggle__input {
  background-color: #121a24;
}
/* Hover */
.inputs-switch-checkbox-default-switch-false--icon-none:hover,
.streamed-table__checkbox:hover:enabled {
  background-color: #1c252f;
}
/* Checked */
.streamed-table__checkbox:checked:enabled .unity-toggle__checkmark,
.inputs-switch-checkbox-default-switch-false--icon-none:checked:enabled .unity-toggle__checkmark {
  background-color: #b9bdcc;
}

/* .buttons-combo-button-base-small .si-dropdown__selection-field {
  border-color: #f50b0b;
  background-color: #360bf5;
}

.buttons-combo-button-base-regular {
  border-color: #3af50b;
  background-color: #f50baf;
}

.buttons-combo-button-base-default {
  border-color: #f5900b;
  background-color: #0bdaf5;
}

.buttons-dropdown-base-regular .si-dropdown__selection-field {
  border-color: #f5900b;
  background-color: #f5130b;
}

.buttons-dropdown-base-small .si-dropdown__selection-field {
  border-color: #3af50b;
  background-color: #f50baf;
}

.buttons-dropdown-icon-base-default .si-dropdown__selection-field {
  border-color: #f50b0b;
  background-color: #0bdaf5;
}

.buttons-dropdown-icon-base-small .si-dropdown__selection-field {
  border-color: #f5900b;
  background-color: #f5130b;
}

.buttons-dropdown-icon-secondary-default .si-dropdown__selection-field {
  border-color: #f50b0b;
  background-color: #360bf5;
}
 */
/* ---- Tactics  ---- */
/* Tactics - Quick Pick / Tactical Style */
.tactics-speak-to-combo-left {
  border-color: #1c252f;
  background-color: #1c252f;
}
.tactics-speak-to-combo-left:active {
  border-color: #333b44;
  background-color: #333b44;
}
.tactics-speak-to-combo-left:disabled {
  border-color: #121a24;
  background-color: #121a24;
}
.tactics-speak-to-combo-left:hover {
  border-color: #333b44;
  background-color: #333b44;
}
.tactics-speak-to-combo-right .si-dropdown__selection-field {
  border-color: #1c252f;
  background-color: #1c252f;
}
.tactics-speak-to-combo-right .si-dropdown__selection-field:active {
  border-color: #333b44;
  background-color: #333b44;
}
.tactics-speak-to-combo-right .si-dropdown__selection-field:disabled {
  border-color: #121a24;
  background-color: #121a24;
}
.tactics-speak-to-combo-right .si-dropdown__selection-field:hover {
  border-color: #333b44;
  background-color: #333b44;
}
/* Tactic Picker */
.buttons-hero-toggle-small--buttons-inactive--border-radius-left {
  border-color: #1c252f;
  background-color: #1c252f;
}
.buttons-hero-toggle-small--buttons-inactive--border-radius-none {
  border-color: #1c252f;
  background-color: #1c252f;
}
.buttons-hero-toggle-small--buttons-inactive--border-radius-none:active,
.buttons-hero-toggle-small--buttons-inactive--border-radius-right:active,
.buttons-hero-toggle-small--buttons-inactive--border-radius-left:active,
.buttons-hero-toggle-small--dropdown--border-radius-none:active {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--buttons-inactive--border-radius-none:hover,
.buttons-hero-toggle-small--buttons-inactive--border-radius-left:hover,
.buttons-hero-toggle-small--buttons-inactive--border-radius-right:hover {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--buttons-inactive--border-radius-right {
  border-color: #1c252f;
  background-color: #1c252f;
}
.buttons-hero-toggle-small--dropdown--border-radius-left {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--dropdown--border-radius-left:active {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--dropdown--border-radius-left:disabled {
  background-color: #121a24;
}
.buttons-hero-toggle-small--dropdown--border-radius-left:hover {
  border-color: #4c5a67;
  background-color: #4c5a67;
}
.buttons-hero-toggle-small--dropdown--border-radius-none {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--dropdown--border-radius-none:hover {
  border-color: #4c5a67;
  background-color: #4c5a67;
}
.buttons-hero-toggle-small--dropdown--border-radius-right {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--dropdown--border-radius-right:active {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-hero-toggle-small--dropdown--border-radius-right:disabled {
  border-color: #121a24;
  background-color: #121a24;
}
.buttons-hero-toggle-small--dropdown--border-radius-right:hover {
  border-color: #4c5a67;
  background-color: #4c5a67;
}
/* Split Button - Tactics Player Picking */
.buttons-hybrid-split-button-left {
  border-top-color: #1c252f00;
  border-right-color: #1c252f00;
  border-bottom-color: #1c252f00;
  border-left-color: #1c252f00;
}
.buttons-hybrid-split-button-left:active,
.buttons-hybrid-split-button-right:active {
  border-color: #1c252f;
}
.buttons-hybrid-split-button-left:hover,
.buttons-hybrid-split-button-right:hover {
  border-color: #1c252f;
}
.buttons-hybrid-split-button-right {
  border-top-color: #1c252f00;
  border-right-color: #1c252f00;
  border-bottom-color: #1c252f00;
  border-left-color: #1c252f00;
  background-color: #1c252f;
}
.buttons-hybrid-split-button-right:hover {
  background-color: #1c252f;
}
.buttons-button-tactics-picked-position {
  border-color: var(--none);
  border-radius: 14px;
}
.buttons-button-tactics-picked-position:hover {
  background-color: #1c252f;
}
.buttons-button-tactics-picked-position-zero-left-space {
  border-color: var(--none);
  border-radius: 11px;
}
/* Tactics - Squad Column Highlight Colour */
.tactics-visualiser-player-position-xi-or-sub-colour-bg {
  background-color: var(--none);
}
/* Tactics - Table Row - Position BG Colours */
.tactics-visualiser-player-position-type-gk-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-defenders-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-defensive-midfield-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-midfield-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-attacking-midfield-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-striker-colour-bg {
  background-color: var(--none);
}
/* Tactics - Icon Toggle Button (Player Instructions) */
.buttons-button-toggle-icon-active-false {
  border-color: var(--none);
}
.buttons-button-toggle-icon-active-false:hover {
  border-color: #1c252f;
}
.buttons-button-toggle-icon-active-true {
  border-color: #333b44;
  background-color: #333b44;
}
.buttons-button-toggle-icon-active-true:hover {
  border-color: #333b44;
}
/* Tactics - Collapsable Pitch Header Button Group */
.tactics-collapsable-pitch-header-button-group .buttongroup__button {
  border-width: 1px;
  border-color: #1c252f;
  background-color: #1c252f;
}
.tactics-collapsable-pitch-header-button-group .buttongroup__button--active {
  background-color: #333b44;
}
/* Tactics - Collapsable Pitch Header Collapse Button */
.tactics-collapsable-pitch-header-collapse-button {
  background-color: var(--none);
}

/* TESTING  */
.buttons-hero-toggle-buttons-active--border-radius-left {
  background-color: #ff0000;
}
.buttons-me-menu-controls-active--position-leading {
  background-color: #2600ff;
}
.buttons-tactics-segmented-button-row-active-small-placement-leading {
  background-color: #00ff00;
}
.rectangle-8 {
  background-color: #0000ff;
}
.streamedobjectlist-squad-overview-iphone {
  background-color: #ff00ff;
}
.tactics-visualiser-player-simple-position-position-gk {
  background-color: #ff0000;
}
