/* ---- MATCH ---- */

/* ---- Match Header ---- */
.match-header,
.prematch-header-date {
  margin-right: 26px;
}

/* ---- Match Controller ---- */
.buttons-me-match-controller-base--position-leading {
  border-top-color: var(--colours-alpha-light-alpha-12);
  border-right-color: var(--colours-alpha-light-alpha-12);
  border-bottom-color: var(--colours-alpha-light-alpha-12);
  border-left-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-16);
}
.buttons-me-match-controller-base--position-middle {
  border-top-color: var(--colours-alpha-light-alpha-12);
  border-right-color: var(--colours-alpha-light-alpha-12);
  border-bottom-color: var(--colours-alpha-light-alpha-12);
  border-left-color: var(--colours-alpha-light-alpha-12);
  background-color: var(--colours-alpha-light-alpha-16);
}
.buttons-me-match-controller-base--position-trailing {
  background-color: var(--colours-alpha-light-alpha-16);
}

/* ---- Buttons - Match Engine ---- */
/* Base */
.buttons-me-menu-controls-base {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Leading */
.buttons-me-menu-controls-base--position-leading {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Middle */
.buttons-me-menu-controls-base--position-middle {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Trailing */
.buttons-me-menu-controls-base--position-trailing {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Hover */
.buttons-me-menu-controls-base--position-leading:hover,
.buttons-me-menu-controls-base--position-middle:hover,
.buttons-me-menu-controls-base--position-trailing:hover,
.buttons-me-menu-controls-base:hover {
  background-color: #121a24;
}

/* Active */
.buttons-me-menu-controls-active--position-leading {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Middle */
.buttons-me-menu-controls-active--position-middle {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Trailing */
.buttons-me-menu-controls-active--position-trailing {
  border-width: 0px;
  background-color: #060d17fa;
}
/* Hover */
.buttons-me-menu-controls-active--position-leading:hover,
.buttons-me-menu-controls-active--position-middle:hover,
.buttons-me-menu-controls-active--position-trailing:hover {
  background-color: #121a24;
}

/* Event Banner -  Replay */
.buttons-buttons-me-event-banner-default {
  border-width: 0px;
  background-color: #060d17fa;
}

/* ---- Notifications - Match Engine ---- */
/* Tactical Change */
.notifications--notifications-toast-default-default {
  border-width: 0px;
  background-color: #060d17fa;
}
.notifications--notifications-toast-auto {
  border-width: 0px;
  background-color: #060d17fa;
}

/* ---- Squad Overview ---- */
.squad-overview-block {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
  border-radius: 8px;
  background-color: #060d17fa;
}
.squad-overview-item {
  border-right-width: 0px;
  border-left-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
  background-color: var(--none);
}
.squad-overview-player-block .si-dropdown__selection-field:active {
  background-color: var(--none);
}

/* ---- Scoreboard ---- */
/* Red Card  */
.red-card-block {
  border-radius: 1px;
}

/* ---- Match Bottom Area ---- */
/* Reduce bottom margin to give Commentary Bar more space */
.match-bottom-area {
  margin-bottom: 8px;
}

/* ---- Match Lineup ---- */
.team-lineup-sitv-manager-icon {
  -unity-background-image-tint-color: var(--colours-base-neutral-white);
}
.team-lineup-sitv-subs-title {
  color: var(--colours-base-neutral-white);
}
.team-lineup-sitv-sub-item-number {
  color: var(--colours-base-neutral-white);
}
.team-lineup-sitv-item-details-container {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #222b38;
}
.prematch-lineup-tactics-position-player-name {
  color: #bfcbdc;
}
