/* ---- Scrollbar  - Hide It ---- */
.siscrollview .siscrollview--dragger {
  background-color: rgba(255, 255, 255, 0);
}

/* ---- Player Report ---- */
/* Re-size Role Selector when reducing AttributesLargeBlock width */
.player-report-role-selector-roles-size-high-possession-ip {
  width: 280px;
}
/* Portrait - Potential Fix: sub-pixel issue */
.thumbnails-alt-person-picture-player-report {
  height: 135px;
}
/* Attributes Key */
.attributes-row-number-key {
  border-left-color: rgba(109, 211, 98, 0.3);
  background-color: rgba(167, 241, 167, 0);
}
.attributes-row-number-key-no-border {
  background-color: rgba(167, 241, 167, 0);
}
/* Attributes Preference */
.attributes-row-number-preference {
  border-left-color: rgba(0, 238, 255, 0.1);
  background-color: rgba(170, 189, 234, 0);
}
.attributes-row-number-preference-no-border {
  background-color: rgba(170, 189, 234, 0);
}

/* ---- Carousel ---- */
.sicarousel-progressbar-slider {
  height: 8px;
  background-color: #fbc500;
}
.sicarousel-progressbar-active {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 8px;
}
.sicarousel-progressbar:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 8px;
}
.sicarousel-progressbar:hover .sicarousel-progressbar-slider {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 8px;
  background-color: #fbc500;
}

/* ---- Dividers ---- */
/* Vertical */
.layout-divider-solid-vertical {
  background-color: var(--none);
  width: 0px;
}

.layout-divider-solid-vertical-stretch {
  background-color: var(--none);
  width: 0px;
}

.layout-layout-divider-solid-vertical {
  background-color: var(--none);
  width: 0px;
}

/* Horizontal */
.layout-divider-solid-horizontal,
.layout-divider-solid-horizontal--cutom-squad-hierarchy {
  background-color: var(--none);
}

.layout-divider-solid-horizontal-white {
  background-color: var(--none);
}

.layout-layout-divider-solid-horizontal {
  background-color: var(--none);
}

.border-bottom-divider {
  border-color: var(--none);
}

.subtle-divider {
  background-color: var(--none);
}

.horizontal-divider {
  background-color: var(--none);
}

/* ---- Photos/Thumbnails ---- */
.thumbnails-person-picture-job-player-sex-male-player-1 {
  background-color: var(--none);
  border-radius: 0px;
}

.thumbnails-alt-person-picture-property-1-44px {
  background-color: var(--none);
  border-radius: 0px;
}

.thumbnails-alt-person-picture-property-1-32px {
  background-color: var(--none);
  border-radius: 0px;
}

.thumbnails-alt-person-picture-property-1-24px-v1,
.thumbnails-alt-person-picture-property-1-variant2,
.thumbnails-alt-person-picture-property-1-variant2 {
  background-color: var(--none);
  border-radius: 0px;
}

.thumbnails-alt-person-picture-property-1-24px {
  background-color: var(--none);
  border-radius: 0px;
}

.thumbnails-alt-person-picture-property-1-person_picture_alt {
  background-color: var(--none);
  border-radius: 0px;
}

.thumbnails-alt-person-picture-property-1-variant3 {
  background-color: var(--none);
  border-radius: 0px;
}

.person_picture_120px {
  background-color: var(--none);
  border-radius: 0px;
}

.person_picture_24px {
  background-color: var(--none);
  border-radius: 0px;
}

.person_picture_56px {
  background-color: var(--none);
  border-radius: 0px;
}

.person_picture_64px {
  background-color: var(--none);
  border-radius: 0px;
}

.person_picture_80px {
  background-color: var(--none);
  border-radius: 0px;
}

/* ---- Messages ---- */
/* Change Tile Border */
.messages-tile-background {
  border-color: rgba(170, 179, 194, 0.1);
  border-width: 1px;
  background-color: rgba(10, 15, 30, 0) !important;
}
/* Remove Tile Background
.midnight-background-colour {
  background-color: var(--none);
} */
/* Selected Message */
.tool-messages-list .message-last-selected {
  background-color: rgba(217, 232, 237, 0.05);
  border-width: 0px;
}
.tool-messages-list .message-last-selected-indicator {
  background-color: #fbc500;
  width: 4px;
}
/* Message Sender Header (Right Side) */
.message-sender-frame-colour {
  background-color: #121a24;
}
/* Message Container (Right Side) */
.message-container-frame {
  border-color: #121a24;
  border-width: 1px;
}

/* Message Actions */
/* Base */
.notificationmessagestatus-action-colour {
  background-color: rgba(51, 59, 68, 0.4);
}
/* Base - Submenu */
.notificationmessagesstatus-actionslist-colour {
  background-color: rgba(51, 59, 68, 0.2);
}
/* Actioned */
.notificationmessagestatus-action-performed-colour {
  background-color: rgba(109, 211, 98, 0.12);
}
/* Required */
.notificationmessagestatus-action-required-colour {
  background-color: rgba(242, 44, 44, 0.12);
}
/* Required - Submenu */
.notificationmessagesstatus-actionslist-required-colour {
  background-color: rgba(242, 44, 44, 0.08);
}

/* ---- Data Display Cells ---- */
/* Standard Regular */
.data_display-cell-standard-regular--type-standard {
  border-width: 1px;
  border-color: var(--none);
  border-radius: 14px;
  transition: var(--global-transition-short);
}
.data_display-cell-standard-regular--type-standard-wrapped {
  border-color: var(--none);
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Active */
.data_display-cell-standard-regular--type-standard:active:enabled {
  border-radius: 14px;
}
/* Hover */
.data_display-cell-standard-regular--type-standard:hover:enabled {
  border-radius: 14px;
}
/* Standard Small */
.data_display-cell-standard-small--type-small-wrapped,
.data_display-cell-standard-small--type-standard {
  border-width: 1px;
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
.data_display-cell-standard-small--type-small:hover:enabled,
.data_display-cell-standard-small--type-standard:hover:enabled {
  border-radius: 10px;
}
.data_display-cell-standard-small--type-small:active:enabled,
.data_display-cell-standard-small--type-standard:active:enabled {
  border-radius: 10px;
}
/* Transfer Offer */
.data_display-cell-standard-small--type-standard-transfer-offer {
  border-width: 1px;
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
/* Icon and Double String */
.data_display-cell-icon-and-double-string-regular,
.data_display-cell-radial-gauge-single-string-regular {
  border-color: var(--none);
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Active */
.data_display-cell-icon-and-double-string-regular:active:enabled,
.data_display-cell-icon-and-string-regular:active:enabled,
.data_display-cell-radial-gauge-single-string-regular:active:enabled,
.data_display-cell-accent-with-icon-double-string-regular:hover:enabled,
.data_display-cell-accent-with-icon-regular:hover:enabled,
.data_display-cell-club-regular-left-aligned:active:enabled,
.data_display-cell-country-regular-left-aligned:active:enabled,
.data_display-cell-club-regular-left-aligned:hover:enabled,
.data_display-cell-country-regular-left-aligned:hover:enabled,
.data_display-sicell-substitute:active:enabled {
  border-radius: 14px;
}
/* Hover */
.data_display-cell-icon-and-double-string-regular:hover:enabled,
.data_display-cell-icon-and-string-regular:hover:enabled,
.data_display-cell-radial-gauge-single-string-regular:hover:enabled,
.data_display-sicell-substitute:hover:enabled {
  border-radius: 14px;
}
/* Icon and Double String Small */
.data_display-cell-icon-and-double-string-small {
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
/* Icon and String Regular */
.data_display-cell-icon-and-string-regular {
  border-color: var(--none);
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Icon and String Small */
.data_display-cell-icon-and-string-small {
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
/* Icon and String Small Flex */
.data_display-cell-icon-and-string-small_flex {
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
/* Radial Gauge Single String Small */
.data_display-cell-radial-gauge-single-string-small {
  border-color: var(--none);
  border-radius: 14px;
  transition: var(--global-transition-short);
}
.data_display-cell-radial-gauge-single-string-small:active {
  border-radius: 14px;
}
.data_display-cell-radial-gauge-single-string-small:hover {
  border-radius: 14px;
}
/* Recent Form Fixtures Regular */
.data_display-cell-recent-form-fixtures-regular-property-1-default {
  border-color: var(--none);
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Recent Form Fixtures Small */
.data_display-cell-recent-form-fixtures-small-property-1-default {
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
/* Standard Regular - Loaned In */
.data_display-cell-standard-regular--type-loaned-in {
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Standard Regular - Loaned Out */
.data_display-cell-standard-regular--type-loaned-out {
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Standard Regular - On Trial */
.data_display-cell-standard-regular--type-on-trial {
  border-radius: 14px;
  transition: var(--global-transition-short);
}
/* Icon and String Transfer Value */
.data-display-data_display-cell-icon-string-transfer-value {
  border-color: var(--none);
  border-radius: 14px;
  background-color: var(--none);
}
/* Transfer Value Small - Scouted Estimate */
.data_display-cell-transfer-value-small-type-scouted-estimate {
  border-color: var(--none);
  border-radius: 10px;
  background-color: var(--none);
}
/* Club and Country Regular */
.data_display-cell-club-regular,
.data_display-cell-country-regular {
  border-color: var(--none);
  border-radius: 12px;
  transition: var(--global-transition-short);
}
.data_display-cell-club-regular-left-aligned,
.data_display-cell-country-regular-left-aligned {
  border-color: var(--none);
  border-radius: 12px;
  transition: var(--global-transition-short);
}
.data_display-cell-club-regular:active,
.data_display-cell-country-regular:active,
.data_display-cell-country-regular:hover {
  border-radius: 12px;
  transition: var(--global-transition-short);
}
.data_display-cell-club-regular:hover {
  border-radius: 12px;
}
/* Club and Country Small */
.data_display-cell-club-small,
.data_display-cell-country-small {
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
.data_display-cell-club-small:active,
.data_display-cell-country-small:active {
  border-radius: 10px;
}
.data_display-cell-club-small-left-aligned,
.data_display-cell-country-small-left-aligned {
  border-color: var(--none);
  border-radius: 10px;
  transition: var(--global-transition-short);
}
.data_display-cell-club-small-left-aligned:active:enabled,
.data_display-cell-country-small-left-aligned:active:enabled {
  border-radius: 10px;
}
.data_display-cell-club-small-left-aligned:hover:enabled,
.data_display-cell-country-small-left-aligned:hover:enabled {
  border-radius: 10px;
}
/* Accent with Icon Double String Regular */
.data_display-cell-accent-with-icon-double-string-regular,
.data_display-cell-accent-with-icon-regular {
  border-color: var(--none);
  border-radius: 12px;
  background-color: var(--none);
  transition: var(--global-transition-short);
}
.data_display-cell-accent-with-icon-double-string-regular:active:enabled,
.data_display-cell-accent-with-icon-regular:active:enabled {
  border-radius: 12px;
}
.data_display-cell-accent-with-icon-double-string-small {
  border-color: var(--none);
  border-radius: 10px;
  background-color: var(--none);
  transition: var(--global-transition-short);
}
/* Accent with Icon Regular */
.data_display-cell-accent-with-icon-regular-default {
  border-color: var(--none);
  border-radius: 12px;
  background-color: var(--none);
  transition: var(--global-transition-short);
}
/* Average Rating */
.data_display-average_rating-default-default-rating-6,
.data_display-average_rating-default-default-rating-null {
  border-color: var(--none);
  background-color: #1c252fcc;
}
.data_display-average_rating-default-default-rating-7 {
  border-color: var(--none);
  background-color: #4cab4366;
}
.data_display-average_rating-default-default-rating-8 {
  border-color: var(--none);
  background-color: #0a7a72bf;
}
.data_display-average_rating-default-default-rating-9 {
  border-color: var(--none);
  background-color: #2e6e28cc;
  color: #ffffff;
}
.data_display-average_rating-default-default-rating-less-than-6 {
  border-color: var(--none);
  background-color: #f22c2c80;
}

/* ---- Calendar ---- */
/* Calendar Day Current */
.calendar-day-current .calendar-header-gradient,
.speakto-button-interaction-button-tag-advice-gradient,
.speakto-button-interaction-button-tag-advice-gradient {
  --end-colour: rgba(217, 232, 237, 0.3);
  --start-colour: rgba(217, 232, 237, 0.3);
}
.calendar-day-current {
  background-color: rgba(217, 232, 237, 0.1);
}

/*  ---- Tactics ---- */
/* Tactics - Squad Column Highlight Colour */
.tactics-visualiser-player-position-xi-or-sub-colour-bg {
  background-color: var(--none);
}
/* Tactics - Table Row - Position BG Colours */
.tactics-visualiser-player-position-type-gk-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-defenders-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-defensive-midfield-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-midfield-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-attacking-midfield-colour-bg {
  background-color: var(--none);
}
.tactics-visualiser-player-position-type-striker-colour-bg {
  background-color: var(--none);
}
