/* ---- TILES/CARDS/POPUPS ---- */

/* Title Colour */
.tile-title-color {
  color: #fbc500;
}

/* ---- Base ---- */
.border-tile-radius-12px {
  border-width: 1px;
  border-color: rgba(170, 179, 194, 0.1);
}
.layout-tile-base-container {
  border-width: 1px;
  border-color: var(--none);
  background-color: var(--none);
}
.layout-tile-base-container.startscreenVar {
  background-color: var(--none);
}

.layout-tile-interaction_border {
  border-width: 1px;
  border-color: rgba(170, 179, 194, 0.1);
}
.layout-tile-interaction-button,
.layout-tile-interaction-none {
  background-color: var(--none);
}
.layout-tile-interaction-button:active,
.layout-tile-interaction-button:hover:enabled {
  background-color: rgba(170, 179, 194, 0.05);
}

/* ---- Tactics ---- */
.layout-tile-tactics .layout-tile-base-container {
  background-color: var(--none);
}
.tactics-overlay-bkg {
  background-color: rgba(170, 179, 194, 0.00);
}
.layout-tile-interaction-button.startscreenVar,
.layout-tile-tactics .layout-tile-interaction-button,
.layout-tile-interaction-button.newsTileVar {
  background-color: var(--none);
}
.layout-tile-interaction-button.startscreenVar:active,
.layout-tile-interaction-button.startscreenVar:hover:enabled,
.layout-tile-interaction-button.newsTileVar:active,
.layout-tile-interaction-button.newsTileVar:hover:enabled,
.layout-tile-tactics .layout-tile-interaction-button:active,
.layout-tile-tactics .layout-tile-interaction-button:hover:enabled {
  background-color: rgba(170, 179, 194, 0.05);
}

/* ---- Cards/Popups ---- */
.figma-base-card-template-inner-frame {
  background-color: #10161D;
}
.figma-base-card-template-border {
  border-width: 0px;
}

/* Panel Load Game */
.panel-load-game-style-bar {
  border-width: 0px;
  background-color: #10161D;
}
.modal-sheet-background,
.meeting-tiles--background-active {
  background-color: #060D17;
}

/* Other Tiles - TBC */
.figma-base-tool-fullscreen-template-inner-frame {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-radius: 0px;
  background-color: var(--none);
}
 /* Fullscreen Template - First Team, Player Profile, etc. - Border */
.figma-base-tool-template-border {
  border-width: 0px;
}
.figma-base-popup-template-inner-frame,
.figma-base-report-template-inner-frame {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background-color: var(--none);
}
.components-persona-bg {
  background-color: var(--none);
}
.layout-block-base-container {
  border-width: 1px;
}
.layout-block-base-container-compact {
  border-width: 1px;
}
/* .layout-block-tactics {
  border-width: 1px;
} */

/* ---- NEWS ---- */
.newsTileVar .layout-tile-interaction-button {
  background-color: var(--none);
}
/* Trending
.trending-news-background {
  -unity-background-image-tint-color: rgba(11, 14, 18, 0.6);
}
.sigradient.trending-news-background {
  --end-colour: #ff000000;
  --start-colour: #0044ff00;
} */
/*