/* ---- TILES/CARDS/POPUPS ---- */

/* Title Colour */
.tile-title-color {
  color: #fbc500;
}

/* ---- Base ---- */
.border-tile-radius-12px {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
}
.layout-tile-base-container {
  border-width: 1px;
  border-color: var(--none);
  background-color: var(--none);
}
.layout-tile-base-container.startscreenVar {
  background-color: var(--none);
}

.layout-tile-interaction_border {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
}
.layout-tile-interaction-button,
.layout-tile-interaction-none {
  background-color: var(--none);
}
.layout-tile-interaction-button:active,
.layout-tile-interaction-button:hover:enabled {
  background-color: rgba(217, 232, 237, 0.02);
}
/* SI Block - Border */
.siblock-border {
  border-color: var(--colours-alpha-light-alpha-8);
}

/* ---- Tactics ---- */
.layout-tile-tactics .layout-tile-base-container {
  background-color: var(--none);
}
.tactics-overlay-bkg {
  background-color: var(--none);
}
.layout-tile-interaction-button.startscreenVar,
.layout-tile-tactics .layout-tile-interaction-button,
.layout-tile-interaction-button.newsTileVar {
  background-color: var(--none);
}
.layout-tile-interaction-button.startscreenVar:active,
.layout-tile-interaction-button.startscreenVar:hover:enabled,
.layout-tile-interaction-button.newsTileVar:active,
.layout-tile-interaction-button.newsTileVar:hover:enabled,
.layout-tile-tactics .layout-tile-interaction-button:active,
.layout-tile-tactics .layout-tile-interaction-button:hover:enabled {
  background-color: rgba(217, 232, 237, 0.02);
}
.tactics-pitch-tile-background-colour {
  background-color: var(--none);
}
.tactics-collapsable-pitch-grass-colour {
  background-color: rgba(46, 110, 40, 0.2);
}
.tactics-collapsable-pitch-header {
  border-color: var(--colours-alpha-light-alpha-8);
  background-color: var(--none);
}
.tactics-collapsable-pitch-container {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
  background-color: var(--none);
  border-radius: 12px;
}
.tactics-subs-block {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
  background-color: var(--none);
  border-radius: 12px;
}
.frame-tactics-nav-menu {
  border-width: 1px;
  border-radius: 12px;
  border-color: var(--colours-alpha-light-alpha-8);
}
.tactics-nav-secondary-actions-property-1-team-shape {
  background-color: var(--none);
}

/* ---- Cards/Popups ---- */
.figma-base-card-template-inner-frame {
  background-color: #121a24;
}
.figma-base-card-template-border {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
}

/* Panel Load Game */
.panel-load-game-style-bar {
  border-width: 0px;
  background-color: #121a24;
}
.modal-sheet-background,
.meeting-tiles--background-active {
  background-color: #060d17;
}

/* Alert Modal - Quit Game etc. */
.notifications--notifications-modal-dialog-default-default,
.notifications-modal-dialog-default-default,
.notifications-modal-large-default-default,
.notifications-modal-dialog-online-default {
  border-width: 1px;
  background-color: #121a24;
  border-color: var(--colours-alpha-light-alpha-8);
}

/* Modal Dialog - Individual Training - Filter */
.notifications-modal-dialog-background {
  border-color: var(--colours-alpha-light-alpha-8);
  border-radius: 8px;
}

/* ---- Other Tiles ---- */
.figma-base-tool-fullscreen-template-inner-frame {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-radius: 0px;
  background-color: var(--none);
}
/* Fullscreen Template - First Team, Player Profile, etc. - Border */
.figma-base-tool-template-border {
  border-width: 0px;
}
.figma-base-popup-template-inner-frame,
.figma-base-report-template-inner-frame {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background-color: var(--none);
}
/* Manager Creation - Background */
.components-persona-bg {
  background-color: #060d17;
}
.layout-block-base-container {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
}
.layout-block-base-container-compact {
  border-width: 1px;
  border-color: var(--colours-alpha-light-alpha-8);
}

/* ---- NEWS ---- */
/* Header - See All News */
.news-title-frame {
  background-color: var(--none);
}
/* Trending News Background Image Tint */
.trending-news-background {
  -unity-background-image-tint-color: #fbc500;
}
/* Trending News Background Gradient */
.sigradient.trending-news-background {
  --end-colour: rgba(138, 108, 0, 0.5);
  --start-colour: rgba(6, 13, 23, 0.2);
}

/* ---- Player Attributes Block ---- */
.frames-player-attributes-full-block-size-max-rows,
.frames-player-attributes-full-block-size-min-rows {
  border-color: var(--none);
  padding: 4px;
}
.frames-player-attributes-full-block-size-mid-player-attributes-property-3-compact {
  border-color: var(--none);
}
.frames-player-attributes-full-block-size-min-player-attributes-property-3-compact {
  border-color: var(--none);
}

/* ---- Tile Indicators (Carousel) ---- */
.carousel-indicator {
  background-color: #333b44;
  margin-right: 4px;
  border-radius: 3px;
  width: 24px;
  height: 6px;
  min-width: 24px;
  min-height: 6px;
  max-width: 24px;
  max-height: 6px;
}
.carousel-indicator:hover {
  background-color: #4c5a67;
}
.carousel-indicator-current,
.carousel-indicator-current:hover {
  border-radius: 3px;
  width: 24px;
  height: 6px;
  min-width: 24px;
  min-height: 6px;
  max-width: 24px;
  max-height: 6px;
  background-color: #fbc500;
}

/* ---- Speak To ---- */
/* Base */
.interaction-_interaction-hub-base-default {
  border-color: var(--none);
}
/* Sender - Inner Frame*/
.speakto-frame-sender-message-response {
  border-color: var(--colours-alpha-light-alpha-8);
}

/* ---- Individual Training Block ---- */
.individual-training-block {
  border-color: var(--colours-alpha-light-alpha-8);
}
