:root {
  /* Border Widths */
  --border-width-border-width-1: 0px;
  --border-width-border-width-2: 0px;

  /* Base Colours - Neutral */
  --colours-base-neutral-black: #060d17;
  --colours-base-neutral-white: #d9e8ed;

  /* Base Colours - Teal */
  --colours-base-teal-20: #8fe287;
  --colours-base-teal-40: #6dd362;
  --colours-base-teal-50: #4cab43;
  --colours-base-teal-60: #2e6e28;
  --colours-base-teal-80: #2e6e28;

  /* Brand Colours - Foundation */
  --colours-brand-foundation-midnight: #050d1c;
  --colours-brand-foundation-midnight-100: #121a24;
  --colours-brand-foundation-cloud: #d9e8ed;
  --colours-brand-foundation-horizon: #fbc500;
  --colours-brand-foundation-twilight: rgba(217, 232, 237, 0.05);
  --colours-brand-foundation-twinight: #121a24;
  --colours-brand-foundation-twinight-120: #121a24;

  /* Brand Colours - Tints */
  --colours-brand-tints-midnight-80: #050d1ccc;
  --colours-brand-tints-twilight-120: #5e6b76;

  /* Brand Colours - FM */
  --colours-brand-fm25-twiight: #4c5a67;
  --colours-brand-fm25-lilac: #fbc500;

  /* Brand Colours - Highlights */
  --colours-brand-highlight-pink: #fbc500;

  /* Alpha Colours - Light */
  --colours-alpha-light-alpha-8: rgba(217, 232, 237, 0.05);
  --colours-alpha-light-alpha-12: rgba(217, 232, 237, 0.08);
  --colours-alpha-light-alpha-14: rgba(217, 232, 237, 0.1);
  --colours-alpha-light-alpha-16: rgba(217, 232, 237, 0.12);
  --colours-alpha-light-alpha-20: rgba(217, 232, 237, 0.18);
  --colours-alpha-light-alpha-35: rgba(217, 232, 237, 0.28);
  --colours-alpha-light-alpha-65: rgba(217, 232, 237, 0.6);
  --colours-alpha-light-alpha-75: rgba(217, 232, 237, 0.75);
  --colours-alpha-light-alpha-85: rgba(217, 232, 237, 0.85);
  --colours-alpha-light-alpha-90: rgba(217, 232, 237, 0.9);

  /* Page Overlay/Fade */
  --midnight-alpha-65: rgba(6, 13, 23, 0.7);
  --midnight-alpha-80: rgba(6, 13, 23, 0.7);

  /* Search Popups + Game Creation */
  --midnight: #121a24;

  /* Continue Button */
  --continue-button-default-background: #1c252f;
  --continue-button-default-border: #1c252f00;
  --continue-button-default-background-secondary: #1c252f;

  /* Tables - Rows */
  --data-tables-background-hover: #ffffff0a;
  --data-tables-background-odd: #ffffff04;
  --data-tables-background-selected: var(--colours-alpha-light-alpha-20);

  /* Tactics - Active Tactic, Active Tab and Collapse */
  --colours-tactics-base-00: rgba(217, 232, 237, 0.35);
  --colours-tactics-base-20: rgba(217, 232, 237, 0.2);

  /* Speak To */
  --colours-speak-to-background-dark: #0d121a;
  --colours-speak-to-background-default: #0d121a;

  /* Layout - UI Tiles - Interaction Border */
  --layout-ui-tiles-interaction-border-default: var(
    --colours-alpha-light-alpha-8
  );

  /* Buttons - Secondary */
  --buttons-secondary-border-default: var(--colours-alpha-light-alpha-8);
  --buttons-secondary-border-hover: var(--colours-alpha-light-alpha-14);
  --buttons-secondary-border-disabled: rgba(217, 232, 237, 0.02);

  /* Contract Negotiation */
  --contract-negotiation-fail-background: rgba(242, 44, 44, 0.1);
  --contract-negotiation-invalid-background: rgba(248, 131, 32, 0.1);
  --contract-negotiation-neutral-background: rgba(255, 255, 255, 0.05);
  --contract-negotiation-success-background: rgba(76, 171, 67, 0.1);
}
